body{
    font-family: 'Lato', sans-serif;
    color: #005182;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Montserrat Alternates', sans-serif;   
}

#nav-perfil {
    color: #000839 !important;
}

.perfil{
    position: relative;
    margin: 0;
    padding: 4.5rem;
}

.sidebar{
    height: 480px;;
    border: 3px solid #000839;
    border-radius: 8px;
}

.userpic{
    text-align: center;
    margin-top: 2rem;
}

.userpic img{
    height: auto;
    width: 50%;
    border-radius: 50%;
}

.profile-usertitle-name {
    font-size: 30px;
    text-align: center;

}

.profile-usertitle-job {
    font-size: 20px;
    text-align: center;
}

.sidebar button {
    background-color:  #005182;
    margin-top: 1rem;
    margin-right: 1rem;
    color: #fff;
    font-family: 'Montserrat Alternates', sans-serif;
}

.sidebar button:hover {
    background-color:   #171933;
    color: #fff;
}

.icon{
    padding-right: 0.5rem;
    font-size: 1.5rem;
}

.course-title {
    color: #f6a225;
    text-align: center;
    margin-bottom: 2rem;
}

.scroll{
    overflow-y: scroll;
    position: absolute;
    height: 65%;
    right: 0rem;
    width: 65%;
}

.cards-go button {
    background-color: #005182;
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: #fff;
    font-family: 'Montserrat Alternates', sans-serif;
}

.cards-go button:hover {
    background-color:#000839;
    color: #fff;
}

.cards-go{
    padding: 0.5rem;
    text-align: right;
    margin-top: 0;
}

.b-desc a {
    color: #fff;
    text-decoration: none;
}

.progress-bar {
    background-color: #f6a225;
}

@media only screen and (max-width: 1024px){
    .scroll{
        overflow-y: scroll;
        position: absolute;
        height: 65%;
        right: 0rem;
        width: 60%;
    }

    .nav-item-perfil a {
        font-size: 16px;
    }
}

@media only screen and (max-width: 752px){
    .scroll{
        position: relative;
        width: max-content;
    }
    .nav-item-perfil a {
        font-size: 16px;
    }

.sidebar{
    height: 500px;;
    border: 3px solid #000839;
    border-radius: 8px;
}

}