body {
    font-family: 'Lato', sans-serif;
    color: #005182;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Montserrat Alternates', sans-serif;
}


.navbar-brand {
    font-family: 'Montserrat Alternates', sans-serif;
    color: #171933 !important;
}

.navbar-light .navbar-toggler {
    color: #171933;
}

.input-nav {
border-radius: 20px;
}

.btn-secondary {
    color: #fff;
    background-color: #171933;
    border-color: #171933;
    border-radius: 20px;
}

.nav-item  a {
    font-family: 'Montserrat Alternates', sans-serif;
    color: #f6a225 !important;
}

.nav-item  a:hover {
    color: #171933 !important;
}

.carito {
    color: #171933 !important;
}


.curso {
    font-family: 'Montserrat Alternates', sans-serif;
}

.text {
    font-family: 'Lato', sans-serif;
}

.Precio-b button {
    background-color:  #005182;
    margin-top: 1rem;
    margin-right: 1rem;
    color: #fff;
    font-family: 'Montserrat Alternates', sans-serif;
}

.Precio-b button:hover {
    background-color:   #171933;
    color: #fff;
}

.Precio-b button > a {
    color: #fff;
    font-family: 'Montserrat Alternates', sans-serif;
}

.Precio-b button > a:hover {
    text-decoration: none;
}

@media only screen and (min-width: 1400px){
    .form-inline .input-group {
        width: 500px;
        margin-left: 200px;
    }

}








*{
    box-sizing: border-box;
}
html,
body {
    width: 100%;
    height: 100px;
    margin: 0;
   
}

.img-curso {
    width: 50%;
}

.shopping-cart {
    width: 750px;
    height: 0px;
    margin: 30px auto;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title {
    color: #f6a225;
    text-align: center;
}

.item {
    padding: 10px;
    height: 150px;
    display: flex;
}
.item:nth-child(3){
    border-top: 1px #E1E8EE;
    border-bottom: #E1E8EE;
}

.buttons {
    position: relative;
    padding-top: 30px;
    margin-right: 60px;
}

.delete-btn, .like-btn {
    display: inline-block;
    cursor: pointer;
}

.delete-btn {
    width: 18px;
    height: 17px;
    background: url() no-repeat center;
}

.like-btn {
    position: absolute;
    top: 9px;
    left: 15px;
    background: url();
    width: 60px;
    height: 60px;
    background-size: 2900% ;
    background-repeat: no-repeat ;
}

.is-active {
    animation-name: animate;
    animation-duration:  .8s;
    animation-iteration-count: 1;
    animation-timing-function: steps(28);
    animation-fill-mode: forwards;
}

@keyframes animate {
    0% {background-position: left;}
    50% {background-position: right;}
    100%{background-position: right;}
}
 
.image {
    margin-right: 30px;
    border-radius: 9px;
    margin-left: 280px;

}

.description {
    padding-top: 10px;
    margin-right: 60px;
    width: 115px;
}

.description span {
    display: block;
    font-size: 14px;
    color: #43484d;
    font-weight: 400;
}

.description span:first-child {
margin-bottom: 5px;
}

description span:last-child {
    font-weight: 300;
    margin-top: 8px;
    color: #86939E;
}

.quantity {
    padding-top: 20px;
    margin-right: 60px;
    margin-left: 60px;
}
.quantity input {
    -webkit-appearance: none;
    border: none;
    text-align: center;
    width: 32px;
    font-size: 16px;
    color: #43484D;
    font-weight: 300;
}
   
button[class*=btn] {
    cursor: pointer;
}
.minus-btn img {
    margin-bottom: 3px;
}
.plus-btn img {
    margin-top: 2px;
}
   
button:focus,
input:focus {
    outline:0;
}


.total-price {
    width: 83px;
    padding-top: 27px;
    text-align: center;
    font-size: 16px;
    color: #43484D;
    font-weight: 300;
}
  
@media (max-width: 800px) {
    .shopping-cart {
      width: 100%;
      height: auto;
      overflow: hidden;
}
.item {
      height: auto;
      flex-wrap: wrap;
    
}
    
.image img {
        width: 50%;
}
.image,
.quantity,
.description {
        width: 100%;
        text-align: center;
        margin: 6px 0;
}
.buttons {
        margin-right: 20px;
    }
}   


#footer {
    background-color: #171933;
    margin-top: 2rem;
}

#footer h6 {
    color: #f6a225;
}

#footer a, #footer p {
    color: #fff;
}

#footer hr {
    border-top: 1px solid #fff;
}

#footer a:hover {
    color: #00a8cd;
    text-decoration: none;
}